/* line 1 */
body {
  font-family: Helvetica, sans-serif;
  font-size: 16pt;
}

/* line 14 */
#dice-interface {
  width: 900px;
}

/* line 18 */
#rhyme {
  width: 400px;
}

/* line 22 */
#beat {
  width: 500px;
}

/* line 26 */
#beat, #rhyme {
  float: left;
  padding: 0;
  margin: 0;
}

/* line 32 */
#rhyme-scheme {
  width: 400px;
  height: 100px;
}
/* line 35 */
#rhyme-scheme .phoneme {
  padding: 10px;
  font-size: 24pt;
  float: left;
  width: 150px;
}
/* line 40 */
#rhyme-scheme .phoneme .word {
  text-transform: uppercase;
}

/* line 45 */
#rhyme-topic {
  width: 400px;
  height: 60px;
}
/* line 48 */
#rhyme-topic .topic {
  padding: 10px;
  font-size: 24pt;
  float: left;
  width: 150px;
}

/* line 56 */
#roll input {
  font-size: 24pt;
  text-transform: uppercase;
}

/* line 61 */
#copyright {
  font-size: 10pt;
  padding: 10px;
}

/* line 66 */
.hidden {
  display: none;
}

/* line 69 */
.clear {
  height: 0;
  font-size: 1px;
  margin: 0;
  padding: 0;
  line-height: 0;
  clear: both;
}
