/* line 1 */
body {
  font-family: Helvetica, sans-serif;
  font-size: 16pt;
}

/* line 14 */
#rhyme {
  width: 500px;
}

/* line 18 */
#rhyme-scheme {
  width: 500px;
  height: 100px;
}
/* line 21 */
#rhyme-scheme .phoneme {
  padding: 10px;
  font-size: 24pt;
  float: left;
  width: 150px;
}

/* line 28 */
#rhyme-topic {
  width: 500px;
  height: 60px;
}
/* line 31 */
#rhyme-topic .topic {
  padding: 10px;
  font-size: 24pt;
  float: left;
  width: 150px;
}

/* line 39 */
#roll {
  font-size: 24pt;
}

/* line 43 */
#copyright {
  font-size: 10pt;
  padding: 10px;
}
