%h1 Rhyme Dice
#data(style="display:none")
  #topics
    - topics.each do |topic|
      .choice
        .topic
          = topic
  #phonemes
    - phonemes.each do |phon|
      .choice
        .phoneme
          .symbol= phon[:symbol]
          .word= phon[:word]
#rhyme
  #rhyme-topic-label
    Topic:
  #rhyme-topic
  #rhyme-scheme-label
    Scheme:
  #rhyme-scheme
  #roll
    %input(type="submit" value="ROLL")/
