%h1 Rhyme Dice
#data(style="display:none")
  #topics
    - topics.each do |topic|
      .choice
        .topic= topic
  #phonemes
    - phonemes.each do |phoneme|
      .choice
        .phoneme
          .symbol= phoneme[:symbol]
          .word= phoneme[:word]
#dice-interface
  #rhyme
    #rhyme-topic-label Topic:
    #rhyme-topic
    #rhyme-scheme-label Scheme:
    #rhyme-scheme
    #roll
      %input(type='button' value='Roll')/
  #beat.hidden
    = partial('jplayer')
  .clear
