body {
  font: {
    family: Verdana;
    size: 16pt;
  }
}

#rhyme {
  width: 500px;
}

#rhyme-scheme {
  font-size: 24pt;
  width: 500px;
  height: 100px;
  .phoneme {
    float: left;
    width:100px;
  }
}
#rhyme-topic {
  font-size: 24pt;
  width: 500px;
  height: 100px;
  .topic {
    float: left;
    width:100px;
  }
}

#roll {
  width: 500px;
  height: 100px;
}
