body {
  font: {
    family: Helvetica, sans-serif;
    size: 16pt;
  }
}

$rhymeWidth: 500px;
$phonemeHeight: 100px;
$phonemeWidth: 150px;
$topicWidth: 150px;
$topicHeight: 60px;

#rhyme {
  width: $rhymeWidth;
}

#rhyme-scheme {
  width: $rhymeWidth;
  height: $phonemeHeight;
  .phoneme {
    padding: 10px;
    font-size: 24pt;
    float: left;
    width: $phonemeWidth;
  }
}
#rhyme-topic {
  width: $rhymeWidth;
  height: $topicHeight;
  .topic {
    padding: 10px;
    font-size: 24pt;
    float: left;
    width: $topicWidth;
  }
}

#roll {
  font-size: 24pt;
}

#copyright {
  font-size: 10pt;
  padding: 10px;
}
