!!!
%html(xmlns="http://www.w3.org/1999/xhtml")
  %head
    %title Rhyme Dice
    %meta(http-equiv="Content-Type" content="text/html; charset=UTF-8")/
    = stylesheets
    = javascripts('jquery-1.4.2.min', :dice)
  %body
    = yield
    #copyright
      %p
        ©
        = Time.now.year
        Ice Nine and DJ Pompey.
        All rights reserved.
